<form [formGroup]="numbersForm" novalidate (ngSubmit)="onSubmit()">
    <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>Multple Of 3 and 5</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="Start Index" formControlName="startIndex" [(ngModel)]="userInput.startIndex">
              <mat-error *ngIf="numbersForm.controls['startIndex'].hasError('required')">
                Start Index is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col">
            <mat-form-field class="full-width">
              <input matInput placeholder="End Index" formControlName="endIndex" [(ngModel)]="userInput.endIndex">
              <mat-error *ngIf="numbersForm.controls['endIndex'].hasError('required')">
                End Index <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary"  class="full-width" type="submit">Submit</button>
      </mat-card-actions>
    </mat-card>
  </form>

  <mat-card class="shipping-card">
      <mat-card-header>
        <mat-card-title>{{heading}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
              <mat-list>
                  <mat-list-item *ngFor="let result of results; let i = index">
                      {{i+1}} . {{result}}   <mat-divider></mat-divider>
                  </mat-list-item>
                </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>


